<div class="component-wrapper">
  <div class="headline-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h1>
          Große Überschrift
        </h1>
      </div>
    </div>
  </div>

  <div class="component-input-wrapper">

    <div class="component-data-wrapper">
      <sample-fgz-daten-form>

        <div class="row">
          <div class="col-lg-3">
            Feld1
          </div>
          <div class="col-lg-3">
            Feld2
          </div>
          <div class="col-lg-3">
            Feld3
          </div>
          <div class="col-lg-3">
            Feld4
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            Größeres Feld
          </div>
          <div class="col-lg-6">
            Größeres Feld
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            Ganz großes Feld
          </div>
        </div>

      </sample-fgz-daten-form>
      <sample-antragsart-select>
        <div class="row">
          <div class="col-lg-3">
            Select1
          </div>
          <div class="col-lg-3">
            Select2
          </div>
          <div class="col-lg-3">
            Select3
          </div>
          <div class="col-lg-3">
            Select4
          </div>
        </div>
      </sample-antragsart-select>
      <sample-form-component>

        <div class="row">
          <div class="col-lg-3">
            Feld1
          </div>
          <div class="col-lg-3">
            Feld2
          </div>
          <div class="col-lg-3">
            Feld3
          </div>
          <div class="col-lg-3">
            Feld4
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            Größeres Feld
          </div>
          <div class="col-lg-6">
            Größeres Feld
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            Ganz großes Feld
          </div>
        </div>

      </sample-form-component>

      <stepper-example>
        <step1>
          <detail-form-example1>
            <div class="row">
              <div class="col-sm-12">
                <h2>
                  Beispiel Unterüberschrift 1
                </h2>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-3">
                Feld1
              </div>
              <div class="col-lg-3">
                Feld2
              </div>
              <div class="col-lg-3">
                Feld3
              </div>
              <div class="col-lg-3">
                Feld4
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6">
                Größeres Feld
              </div>
              <div class="col-lg-6">
                Größeres Feld
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
                Ganz großes Feld
              </div>
            </div>

          </detail-form-example1>
        </step1>
        <step2>
          <detail-form-example1>
            <div class="row">
              <div class="col-sm-12">
                <h2>
                  Beispiel Unterüberschrift 1
                </h2>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-3">
                Feld1
              </div>
              <div class="col-lg-3">
                Feld2
              </div>
              <div class="col-lg-3">
                Feld3
              </div>
              <div class="col-lg-3">
                Feld4
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6">
                Größeres Feld
              </div>
              <div class="col-lg-6">
                Größeres Feld
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
                Ganz großes Feld
              </div>
            </div>

          </detail-form-example1>
        </step2>
      </stepper-example>

      <sample-upload-component>

        <div class="row">
          <div class="col-lg-12">
            Upload
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            Uploadtabelle
          </div>
        </div>

      </sample-upload-component>
    </div>

  </div>

  <div class="component-buttons-wrapper">

    <sample-buttons-component class="component-buttons">
      <div class="row sample-button">
        <div class="col-lg-12">
          Button1
        </div>
      </div>
      <div class="row sample-button">
        <div class="col-lg-12">
          Button2
        </div>
      </div>
    </sample-buttons-component>

  </div>

</div>
